div.perfil-parent{

    padding: 10px 0;
}

div.perfil-parent{
    display: flex;
    align-items: center;
    justify-content: center;

}

div.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    padding: 40px 20px;
    width: 100%;
    background-color: white;
    
}

div.perfil-img{
    width: 40%;

}

div.perfil-form{
    padding-left: 20px;
    width: 70%;
}

div.perfil-form label {
    font-size: 14px;
    color: #72777a;
}

div.perfil-form input, div.perfil-form select {
    font-size: 14px;
    color: #72777a;
    
}

div.perfil-form input.custom-file {
margin-top: 5px;
}

div.perfil-form button{
    margin-top: 5px;
    background: linear-gradient(135deg, #831d1c, #831d1c);
    color: #fff;
}

div.perfil-form button:hover {
    border: none;
    color: #fff;
    transform: scale(1.10);
    transition: .2s;
}
div.img{
    height: 400px;
    width: 300px;
    box-shadow: 0.0. 2rem rgba(0, 0,0, 0.1);
    border: 1px solid #72777a;
    background-image: url("../Imagens/rosto.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #831d1c;
    border-radius: 5px;

}