div.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #fff;
    border-right: 1px solid rgba(128,128,128, 0.3);
}


.sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
}

.sidebar .sidebar-title img {
    width: 85px;
}

.sidebar .sidebar-title h2 {
    font-size: 18px;
    margin-top: 8px;
}

div.menu ul {
    list-style-type: none;
}

div.menu ul li {
    border:  #ccc;
    padding: 25px 20px;
    border-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

div.menu ul li svg {
    color:  #831d1c;
    font-size: 20px;
}

div.menu ul li a {
    color: #000000;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

div.menu ul li a :hover{
    color: #4d4d4d;
}