body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}
h2{
    text-align:left;
}

* {
    box-sizing: border-box;
}

.error {
    color: red;
    border-color: red;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,.col-50,.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #FFFFFF;
    padding: 3px 18px 13px 18px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
}


input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(130, 26, 26);
    border-radius: 1px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn{
    background-color: #831D1C;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
	box-shadow: 0 0 1rem 0 rgba(99, 123, 150, 0.329);
}

.btn:hover {
    background-color: #701715;
}

a {
    color: #08d9f5;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns 
    stack on top of each other instead of next to each other (also change the direction 
    - make the "cart" column go on top) 
*/
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
/* Cartão */
 :root {
	--white: #ffffff;
	--gray: lightgrey;
	--purple: #442c61;
	--yellow: #f79e1b;
	--red: #eb001b;
	--light-blue: #0061ff;
	--dark-blue: #08189e;
}

.flex{ 
    display: flex; 
}
.absolute { 
    position: absolute;
}

.credit-card::before {
	content: '';
	width: 400px;
	height: 180px;
	transform: scaleX(-1);
}

.card {
	position: relative;
	width: 325px;
	height: 195px;
	transform-style: preserve-3d;
	perspective: 1000px;
}

.card .face {
    background-color: rgba(128, 0, 128, 1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgb(255 255 255 / 20%);
	border-radius: 10px;
	backdrop-filter: blur(10px);
	box-shadow: 2px 2px 0px 0px rgb(255 255 255 / 20%);
	transform-style: preserve-3d;
	transition: 0.75s ease-in-out;
	backface-visibility: hidden;
	transform: rotateY(0);
}

/* CARD FRONT FACE START */

#chip {
	width: 60px;
	height: 60px;
	top: 100px;
	left: 50px;
}

#signal {
	width: 25px;
	height: 25px;
	top: 115px;
	left: 115px;
	transform: rotate(90deg);
}

#logo {
	width: 85px;
	height: 85px;
	bottom: 30px;
	left: 40px;
}

#owner {
	bottom: 55px;
	left: 140px;
	font-size: 1.35rem;
	letter-spacing: 1px;
	color: var(--white);
}

/* CARD FRONT FACE END */

/* CARD BACK FACE START */
.card .face.back {
	transform: rotateY(180deg);
}

#graybar {
	width: 100%;
	height: 50px;
	top: 15px;
	background: var(--gray);
}

#card-info {
	width: 100%;
	bottom: 15px;
	padding: 0 20px;
	color: var(--white);
}

#card-number {
	letter-spacing: 2px;
	font-size: 0.9rem;
}

#card-info .informations:not(:first-child) {
	margin-left: 10px;
}

#card-info .flex .informations {
	align-items: center;
}

#card-info .flex .informations .label {
	display: block;
	font-size: 0.4rem;
	margin-right: 4px;
	width: 30px;
}

/* FLAGS START */
.card .face.front::before,
.card .face.front::after,
.card .face.back::before,
.card .face.back::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.card .face.front::before,
.card .face.front::after {
	top: 10px;
}

.card .face.back::before,
.card .face.back::after {
	bottom: 34px;
}

.card .face.front::before,
.card .face.back::before {
	right: 20px;
}

.card .face.front::after,
.card .face.back::after {
	right: 45px;
}

.card .face.front::before {
	background: var(--yellow);
}

.card .face.front::after {
	background: var(--red);
}

.card .face.back::before {
	background: var(--light-blue);
}

.card .face.back::after {
	background: var(--dark-blue);
}

/* FLAGS END */

/* ANIMATION */
.card:hover .face.front {
	transform: rotateY(180deg);
}

.card:hover .face.back {
	transform: rotateY(360deg);
} 