* {
    box-sizing: border-box
}

body {
    background-color: #FFFFFF !important;
}

.logo {
    text-align: center;
    
    margin: auto;
}

.cadastro {
    position: relative;
}

div {
    display: block;
}

.g-recaptcha{
    width: 100%;
    height: 100%;
    
    position: relative;

    transform:scale(1);
    -webkit-transform:scale(1);
    transform-Origin:0 0;
    -webkit-transform-origin:0 0;
}

.backLogin .txtVoltar:hover {
    color: #e7b059;
    transition: .5s;
}

.backLogin {
    text-align: left;
    font-weight: bold;

    color: #2f2b2d;

    min-width: 200px;
    max-width: 1200px;
    
    height: 100%;
    width: 100%;

    padding-bottom: 10px;
    margin: auto;
}

.backLogin a {
    color: #777;
    transition: .5s;
}

.form-name{
	text-align: left;

    font-size: 40px;
    font-weight: bold;

    color: #2f2b2d;

    min-width: 200px;
    max-width: 1200px;
    
    height: 100%;
    width: 100%;

    margin: auto;
}

.form-desc {
    text-align: left;

    font-size: 20px;

    color: #2f2b2d;

    min-width: 200px;
    max-width: 1200px;
    
    height: 100%;
    width: 100%;

    margin: auto;
    padding-bottom: 20px;
}

div.inputs {
    background-color: #2f2b2d;

    min-width: 200px;
    max-width: 1200px;
    
    margin: auto;
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 40px 16px rgb(0 0 0 / 30%);
}

.input {
    padding: 15px 0px;
	border-radius: 10px;
    margin-bottom: 5px;

    margin-bottom: 10px;
    position: relative;
}

/* Linhas */
.input input {
    background-color: transparent;
    outline: none;

    color: white;
    font-size: 19px;

    width: 100%;

    border: none;
    border-bottom: 1px solid #e7b059;
}

input ~ label{
    position: absolute;
    left: 0;

    pointer-events: none;

    padding: 0px 14px;

    color: rgba(255, 255, 255, 0.8);
    font-style: italic;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-16px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.olho {
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    color: #e7b059;
}

/* Informações embaixo */
div.baixo {
    min-width: 200px;
    max-width: 1200px;
    
    height: 100%;
    width: 100%;

    margin: auto;
    padding: 20px;
}

.btnCadastrar {
    color: white;
    
    font-size: 18px;
    font-weight: bold;

    margin: 5px 40px;
    padding: 20px;
    width: 90%;
    height: 90%;
    background: #e7b059;
    border-radius: 4px;
    border: none;
}

.cadastro .termos {
    text-align: left;
    padding: 0px 70px;

    height: 100%;
    width: 100%;
}

span.error {
    color: red;
    font-weight: 500;

    display: flex;
}
